/* 기본 스타일 시트 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 16px;
}

/* 전역적 속성 지정 */
.container{ /* container. wrapper로 사용. 가로 길이 지정. */
    width: 100vw;
}

.main_wrapper{ /* main 영역의 크기 지정. */
    padding: 5rem 18rem;
}

body{
    background-color: rgb(226, 254, 231);

    color: black;

    overflow-x: hidden;
}

p{
    font-family: "Nanum Gothic Coding", monospace;
}

/* header */
header{
    background-color: rgb(5, 50, 13);

    height: 7rem;
    /* width는 container로 지정 */
    border-bottom: 0.1rem solid black;
    background-color: inherit;

    position: fixed;
}

.header_title{
    padding: 0.5rem;

    color: inherit;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
}

nav{
    height: 2rem;
    width: inherit;
    padding-bottom: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.button_sel{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-position: under;
}

nav > button{
    border: 0;

    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 1000;
    font-style: italic;

    cursor: pointer;
}

.header_space{
    height: 15.5vh;
}


/* 미디어 쿼리 */
@media screen and (max-width:992px){
    html{
      font-size:14px;
    }

    .main_wrapper{ /* main 영역의 크기 지정. */
        padding: 4rem 14rem;
    }

    nav{
        gap: 3rem;
    }
  }
  @media screen and (max-width:768px){
    html{
      font-size:13px;
    }
    .main_wrapper{ /* main 영역의 크기 지정. */
        padding: 3rem 12rem;
    }

    nav{
        gap: 2rem;
    }
  }
  @media screen and (max-width:576px){
    html{
      font-size:12px;
    }
    .main_wrapper{ /* main 영역의 크기 지정. */ 
        padding: 3rem 9rem;
    }

    nav{
        gap: 1rem;
    }
  }
  @media screen and (max-width:400px){
    html{
      font-size:11px;
    }
    .main_wrapper{ /* main 영역의 크기 지정. */
        padding: 2rem 6rem;
    }

    nav{
        gap: 0rem;
    }
  }





